DOMAIN_NAME=

SECRET_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIRECT_URI=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_USERNAME=
SMTP_PASSWORD=

GEMINI_APIKEY=
TAVILY_APIKEY=